@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --white: #e1e7ef;
  --black: #030711;
  --black-hover: #0f182d;
  --blue: #36a3ff;
  --light: #a9adc1;
  --grey: #2e3039;
  --light-sub: #7a7c85;
  --red: #ff4545;
  --yellow: #ffd644;
  --transparent: #2e303941;
  --default-width: min(800px, 100%);

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

main {
  height: auto;
  margin-bottom: 20px;
}

a {
  color: var(--blue);
}

.navbar {
  padding-top: 5px;
  text-align: center;
  border-bottom: 1px solid var(--black-hover);
}

.navbar ul {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: var(--black);
}
  
.navbar li {
  float: left;
}
  
.navbar li a {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .2s;
}
  
.navbar li a:hover {
  background-color: var(--black-hover);
}

.input-form {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.form-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#income-form select {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#form-submit {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
}

#predict {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
  width: 200px;
  font-size: 24px;
}

#predict:hover {
  background-color: var(--black-hover);
}

footer {
  margin-top: auto;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}