<!DOCTYPE html>
<html>
<head>
    <title>KMeans Web App{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href=".">Home</a></li>
            <li><a href=".">Contact</a></li>
            <li><a href=".">About</a></li>
        </ul> 
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <a href="https://github.com/rudnam/cs180-project">Github page</a> 
    </footer>
</body>
</html>
