{% extends "layout.html" %}

{% block title %}
  - Predict
{% endblock %}

{% block main %}
  <div class="container">
    <h1>Household classifier</h1>
    <form id="income-form" action="/predict" method="POST">
      <div class="form-grid">
        <div class="form-container">
          <h2>Region and Income</h2>
  
          <label for="region">Region:</label>
          <select required required name="region" id="region">
            <option value="" disabled selected>Select an option</option>
          </select>

          <label for="total-household-income">Total Household Income:</label>
          <input required type="range" id="total-household-income" name="total-household-income" min="0" max="1000000" class="slider">
          <input required type="text" id="total-household-income-display" name="total-household-income-display">

          <label for="total-income-from-entrepreneurial-acitivites">Total income from entrepreneurial activities:</label>
          <input required type="range" id="total-income-from-entrepreneurial-acitivites" name="total-income-from-entrepreneurial-acitivites" min="0" max="1000000" class="slider">
          <input required type="text" id="total-income-from-entrepreneurial-acitivites-display" name="total-income-from-entrepreneurial-acitivites-display">
  
          <label for="main-source-of-income">Main Source of Income:</label>
          <select required name="main-source-of-income" id="main-source-of-income">
            <option value="" disabled selected>Select an option</option>
          </select>
        </div>
  
        <div class="form-container">
          <h2>Household head</h2>
  
          <label for="household-head-sex">Household head sex:</label>
          <select required name="household-head-sex" id="household-head-sex">
            <option value="" disabled selected>Select an option</option>
          </select>

          <label for="household-head-age">Household head age:</label>
          <input required type="range" id="household-head-age" name="household-head-age" min="0" max="100" class="slider">
          <input required type="text" id="household-head-age-display" name="household-head-age-display">
  
          <label for="household-head-marital-status">Household head marital status:</label>
          <select required name="household-head-marital-status" id="household-head-marital-status">
            <option value="" disabled selected>Select an option</option>
          </select>

          <label for="household-head-class-of-worker">Household head class of worker:</label>
          <select required name="household-head-class-of-worker" id="household-head-class-of-worker">
            <option value="" disabled selected>Select an option</option>
          </select>
  
          <label for="household-head-job-or-business-indicator">Household head job or business indicator:</label>
          <select required name="household-head-job-or-business-indicator" id="household-head-job-or-business-indicator">
            <option value="" disabled selected>Select an option</option>
          </select>
        </div>

        <div class="form-container">
          <h2>Household family</h2>
  
          <label for="type-of-household">Type of household:</label>
          <select required name="type-of-household" id="type-of-household">
            <option value="" disabled selected>Select an option</option>
          </select>
  
          <label for="total-number-of-family-members">Total number of family members:</label>
          <input required type="range" id="total-number-of-family-members" name="total-number-of-family-members" min="0" max="20" class="slider">
          <input required type="text" id="total-number-of-family-members-display" name="total-number-of-family-members-display">
  
          <label for="members-with-age-less-than-5-year-old">Members with age less than 5 year old:</label>
          <input required type="range" id="members-with-age-less-than-5-year-old" name="members-with-age-less-than-5-year-old" min="0" max="10" class="slider">
          <input required type="text" id="members-with-age-less-than-5-year-old-display" name="members-with-age-less-than-5-year-old-display">
  
          <label for="members-with-age-5-17-years-old">Members with age 5-17 years old:</label>
          <input required type="range" id="members-with-age-5-17-years-old" name="members-with-age-5-17-years-old" min="0" max="10" class="slider">
          <input required type="text" id="members-with-age-5-17-years-old-display" name="members-with-age-5-17-years-old-display">
  
          <label for="total-number-of-family-members-employed">Total number of family members employed:</label>
          <input required type="range" id="total-number-of-family-members-employed" name="total-number-of-family-members-employed" min="0" max="10" class="slider">
          <input required type="text" id="total-number-of-family-members-employed-display" name="total-number-of-family-members-employed-display">
        </div>

        <div class="form-container">
          <h2>Household Building</h2>
  
          <label for="type-of-building-house">Type of building house:</label>
          <select required name="type-of-building-house" id="type-of-building-house">
            <option value="" disabled selected>Select an option</option>
          </select>
  
          <label for="type-of-roof">Type of roof:</label>
          <select required name="type-of-roof" id="type-of-roof">
            <option value="" disabled selected>Select an option</option>
          </select>
  
          <label for="type-of-walls">Type of walls:</label>
          <select required name="type-of-walls" id="type-of-walls">
            <option value="" disabled selected>Select an option</option>
          </select>
  
          <label for="tenure-status">Tenure status:</label>
          <select required name="tenure-status" id="tenure-status">
            <option value="" disabled selected>Select an option</option>
          </select>
  
          <label for="house-floor-area">House floor area:</label>
          <input required type="range" id="house-floor-area" name="house-floor-area" min="0" max="1000" class="slider">
          <input required type="text" id="house-floor-area-display" name="house-floor-area-display">
  
          <label for="house-age">House age:</label>
          <input required type="range" id="house-age" name="house-age" min="0" max="100" class="slider">
          <input required type="text" id="house-age-display" name="house-age-display">
  
          <label for="number-of-bedrooms">Number of bedrooms:</label>
          <input required type="range" id="number-of-bedrooms" name="number-of-bedrooms" min="0" max="5" class="slider">
          <input required type="text" id="number-of-bedrooms-display" name="number-of-bedrooms-display">
  
          <label for="toilet-facilities">Toilet facilities:</label>
          <select required name="toilet-facilities" id="toilet-facilities">
            <option value="" disabled selected>Select an option</option>
          </select>
          
          <label for="main-source-of-water-supply">Main source of water supply:</label>
          <select required name="main-source-of-water-supply" id="main-source-of-water-supply">
            <option value="" disabled selected>Select an option</option>
          </select>
  
          <label for="electricity">Electricity:</label>
          <select required name="electricity" id="electricity">
            <option value="" disabled selected>Select an option</option>
          </select>

          <label for="agricultural-household-indicator">Agricultural Household Indicator:</label>
          <input required type="range" id="agricultural-household-indicator" name="agricultural-household-indicator" min="0" max="2" class="slider">
          <input required type="text" id="agricultural-household-indicator-display" name="agricultural-household-indicator-display">
        </div>
        
        <div class="form-container">
          <h2>Properties</h2>

          <label for="number-of-television">Number of television:</label>
          <input required type="range" id="number-of-television" name="number-of-television" min="0" max="10" class="slider">
          <input required type="text" id="number-of-television-display" name="number-of-television-display">

          <label for="number-of-cd-vcd-dvd">Number of cd, vcd, dvd:</label>
          <input required type="range" id="number-of-cd-vcd-dvd" name="number-of-cd-vcd-dvd" min="0" max="10" class="slider">
          <input required type="text" id="number-of-cd-vcd-dvd-display" name="number-of-cd-vcd-dvd-display">

          <label for="number-of-component-stereo-set">Number of component stereo set:</label>
          <input required type="range" id="number-of-component-stereo-set" name="number-of-component-stereo-set" min="0" max="10" class="slider">
          <input required type="text" id="number-of-component-stereo-set-display" name="number-of-component-stereo-set-display">

          <label for="number-of-refrigerator-freezer">Number of refrigerator, freezer:</label>
          <input required type="range" id="number-of-refrigerator-freezer" name="number-of-refrigerator-freezer" min="0" max="10" class="slider">
          <input required type="text" id="number-of-refrigerator-freezer-display" name="number-of-refrigerator-freezer-display">

          <label for="number-of-washing-machine">Number of washing machine:</label>
          <input required type="range" id="number-of-washing-machine" name="number-of-washing-machine" min="0" max="10" class="slider">
          <input required type="text" id="number-of-washing-machine-display" name="number-of-washing-machine-display">

          <label for="number-of-airconditioner">Number of airconditioner:</label>
          <input required type="range" id="number-of-airconditioner" name="number-of-airconditioner" min="0" max="10" class="slider">
          <input required type="text" id="number-of-airconditioner-display" name="number-of-airconditioner-display">

          <label for="number-of-car-jeep-van">Number of car, jeep, van:</label>
          <input required type="range" id="number-of-car-jeep-van" name="number-of-car-jeep-van" min="0" max="10" class="slider">
          <input required type="text" id="number-of-car-jeep-van-display" name="number-of-car-jeep-van-display">

          <label for="number-of-landline-wireless-telephones">Number of landline wireless telephones:</label>
          <input required type="range" id="number-of-landline-wireless-telephones" name="number-of-landline-wireless-telephones" min="0" max="10" class="slider">
          <input required type="text" id="number-of-landline-wireless-telephones-display" name="number-of-landline-wireless-telephones-display">

          <label for="number-of-cellular-phone">Number of cellular phone:</label>
          <input required type="range" id="number-of-cellular-phone" name="number-of-cellular-phone" min="0" max="10" class="slider">
          <input required type="text" id="number-of-cellular-phone-display" name="number-of-cellular-phone-display">

          <label for="number-of-personal-computer">Number of personal computer:</label>
          <input required type="range" id="number-of-personal-computer" name="number-of-personal-computer" min="0" max="10" class="slider">
          <input required type="text" id="number-of-personal-computer-display" name="number-of-personal-computer-display">

          <label for="number-of-stove-with-oven-gas-range">Number of stove with Oven/Gas range:</label>
          <input required type="range" id="number-of-stove-with-oven-gas-range" name="number-of-stove-with-oven-gas-range" min="0" max="10" class="slider">
          <input required type="text" id="number-of-stove-with-oven-gas-range-display" name="number-of-stove-with-oven-gas-range-display">

          <label for="number-of-motorized-banca">Number of motorized banca:</label>
          <input required type="range" id="number-of-motorized-banca" name="number-of-motorized-banca" min="0" max="10" class="slider">
          <input required type="text" id="number-of-motorized-banca-display" name="number-of-motorized-banca-display">

          <label for="number-of-motorcycle-tricycle">Number of motorcycle/tricycle:</label>
          <input required type="range" id="number-of-motorcycle-tricycle" name="number-of-motorcycle-tricycle" min="0" max="10" class="slider">
          <input required type="text" id="number-of-motorcycle-tricycle-display" name="number-of-motorcycle-tricycle-display">
        </div>

        <div class="form-container">
          <h2>Expenditures</h2>
  
          <label for="total-food-expenditure">Total Food Expenditure:</label>
          <input required type="range" id="total-food-expenditure" name="total-food-expenditure" min="0" max="100000" class="slider">
          <input required type="text" id="total-food-expenditure-display" name="total-food-expenditure-display">
  
          <label for="bread-and-cereals-expenditure">Bread and Cereals Expenditure:</label>
          <input required type="range" id="bread-and-cereals-expenditure" name="bread-and-cereals-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="bread-and-cereals-expenditure-display" name="bread-and-cereals-expenditure-display">
  
          <label for="total-rice-expenditure">Total Rice Expenditure:</label>
          <input required type="range" id="total-rice-expenditure" name="total-rice-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="total-rice-expenditure-display" name="total-rice-expenditure-display">
  
          <label for="meat-expenditure">Meat Expenditure:</label>
          <input required type="range" id="meat-expenditure" name="meat-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="meat-expenditure-display" name="meat-expenditure-display">
  
          <label for="total-fish-and-marine-products-expenditure">Total Fish and Marine products Expenditure:</label>
          <input required type="range" id="total-fish-and-marine-products-expenditure" name="total-fish-and-marine-products-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="total-fish-and-marine-products-expenditure-display" name="total-fish-and-marine-products-expenditure-display">
  
          <label for="fruit-expenditure">Fruit Expenditure:</label>
          <input required type="range" id="fruit-expenditure" name="fruit-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="fruit-expenditure-display" name="fruit-expenditure-display">
  
          <label for="vegetables-expenditure">Vegetables Expenditure:</label>
          <input required type="range" id="vegetables-expenditure" name="vegetables-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="vegetables-expenditure-display" name="vegetables-expenditure-display">
  
          <label for="restaurant-and-hotels-expenditure">Restaurant and Hotels Expenditure:</label>
          <input required type="range" id="restaurant-and-hotels-expenditure" name="restaurant-and-hotels-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="restaurant-and-hotels-expenditure-display" name="restaurant-and-hotels-expenditure-display">
  
          <label for="alcoholic-beverages-expenditure">Alcoholic Beverages Expenditure:</label>
          <input required type="range" id="alcoholic-beverages-expenditure" name="alcoholic-beverages-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="alcoholic-beverages-expenditure-display" name="alcoholic-beverages-expenditure-display">
  
          <label for="tobacco-expenditure">Tobacco Expenditure:</label>
          <input required type="range" id="tobacco-expenditure" name="tobacco-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="tobacco-expenditure-display" name="tobacco-expenditure-display">
  
          <label for="clothing-footwear-and-other-wear-expenditure">Clothing, Footwear, and Other wear Expenditure:</label>
          <input required type="range" id="clothing-footwear-and-other-wear-expenditure" name="clothing-footwear-and-other-wear-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="clothing-footwear-and-other-wear-expenditure-display" name="clothing-footwear-and-other-wear-expenditure-display">
  
          <label for="housing-and-water-expenditure">Housing and Water Expenditure:</label>
          <input required type="range" id="housing-and-water-expenditure" name="housing-and-water-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="housing-and-water-expenditure-display" name="housing-and-water-expenditure-display">
  
          <label for="imputed-house-rental-value">Imputed House Rental Value:</label>
          <input required type="range" id="imputed-house-rental-value" name="imputed-house-rental-value" min="0" max="10000" class="slider">
          <input required type="text" id="imputed-house-rental-value-display" name="imputed-house-rental-value-display">
  
          <label for="medical-care-expenditure">Medical Care Expenditure:</label>
          <input required type="range" id="medical-care-expenditure" name="medical-care-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="medical-care-expenditure-display" name="medical-care-expenditure-display">
  
          <label for="transportation-expenditure">Transportation Expenditure:</label>
          <input required type="range" id="transportation-expenditure" name="transportation-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="transportation-expenditure-display" name="transportation-expenditure-display">
  
          <label for="communication-expenditure">Communication Expenditure:</label>
          <input required type="range" id="communication-expenditure" name="communication-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="communication-expenditure-display" name="communication-expenditure-display">
  
          <label for="education-expenditure">Education Expenditure:</label>
          <input required type="range" id="education-expenditure" name="education-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="education-expenditure-display" name="education-expenditure-display">
  
          <label for="miscellaneous-goods-and-services-expenditure">Miscellaneous Goods and Services Expenditure:</label>
          <input required type="range" id="miscellaneous-goods-and-services-expenditure" name="miscellaneous-goods-and-services-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="miscellaneous-goods-and-services-expenditure-display" name="miscellaneous-goods-and-services-expenditure-display">
  
          <label for="special-occasions-expenditure">Special Occasions Expenditure:</label>
          <input required type="range" id="special-occasions-expenditure" name="special-occasions-expenditure" min="0" max="10000" class="slider">
          <input required type="text" id="special-occasions-expenditure-display" name="special-occasions-expenditure-display">
  
          <label for="crop-farming-and-gardening-expenses">Crop Farming and Gardening Expenses:</label>
          <input required type="range" id="crop-farming-and-gardening-expenses" name="crop-farming-and-gardening-expenses" min="0" max="10000" class="slider">
          <input required type="text" id="crop-farming-and-gardening-expenses-display" name="crop-farming-and-gardening-expenses-display">
        </div>
      </div>
      
      <input id="predict" type="submit" value="Predict">
      <script src="{{ url_for('static', filename='predict.js') }}"></script>
    </form>
  </div>
{% endblock %}